<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<h1>Ingredient Index</h1>
<% @ingredients.each do |i| %>
<h3><a href='/ingredients/<%=i.id%>'><%=i.name %></h3>
<%end%>